:root {
    /* Custom Font  */
    --font: "Prompt", sans-serif;

    /* Custom Colors */
    --body-color: hsl(240, 24%, 94%);
}

* {
    font-family: var(--font);
}

body {
    background-color: var(--body-color);
}

a {
    text-decoration: none;
}

/** Complete center of the element on the page */
.absolute-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** Class to vertical center of content*/
.vertical-center {
    vertical-align: middle;
}